<a href="https://colab.research.google.com/github/Prathyusha-Pasupuleti/Internship/blob/main/Testing_Pandas_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:

import pandas as pd
from datetime import datetime

data = {
    'Name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian', 'Jane',
        'Karl', 'Laura', 'Mike', 'Nina', 'Oscar', 'Paula', 'Quentin', 'Rachel', 'Steve', 'Tina',
        'Uma', 'Victor', 'Wendy', 'Xander', 'Yara', 'Zane'
    ],
    'Department': [
        'HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'Marketing', 'Sales', 'HR',
        'IT', 'Finance', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'Sales', 'IT', 'Marketing',
        'HR', 'Finance', 'Sales', 'IT', 'Marketing', 'Finance'
    ],
    'Salary': [
        50000, 60000, 55000, 70000, 48000, 62000, 65000, 52000, 58000, 51000,
        75000, 53000, 60000, 57000, 67000, 49500, 61000, 59000, 72000, 54000,
        47000, 56000, 61000, 68000, 55000, 64000
    ],
    'Join_Date': [
        '2020-05-21', '2019-03-15', '2021-07-10', '2018-11-01', '2022-01-05', '2017-09-12',
        '2020-06-30', '2019-08-20', '2021-02-11', '2020-12-01', '2016-04-25', '2019-11-15',
        '2020-03-03', '2022-04-10', '2018-07-18', '2017-10-22', '2015-05-09', '2020-09-14',
        '2021-01-19', '2016-12-30', '2023-01-11', '2018-02-27', '2019-06-06', '2020-08-08',
        '2021-03-22','2017-01-17'
    ]
}
 #Convert 'Join_Date' to datetime format
df['Join_Date'] = pd.to_datetime(df['Join_Date'])

In [54]:
df

       Name Department  Salary  Join_Date
0     Alice         HR   50000 2020-05-21
1       Bob         IT   60000 2019-03-15
2   Charlie    Finance   55000 2021-07-10
3     David         IT   70000 2018-11-01
4       Eva         HR   48000 2022-01-05
5     Frank    Finance   62000 2017-09-12
6     Grace         IT   65000 2020-06-30
7     Helen  Marketing   52000 2019-08-20
8       Ian      Sales   58000 2021-02-11
9      Jane         HR   51000 2020-12-01
10     Karl         IT   75000 2016-04-25
11    Laura    Finance   53000 2019-11-15
12     Mike      Sales   60000 2020-03-03
13     Nina  Marketing   57000 2022-04-10
14    Oscar         IT   67000 2018-07-18
15    Paula         HR   49500 2017-10-22
16  Quentin    Finance   61000 2015-05-09
17   Rachel      Sales   59000 2020-09-14
18    Steve         IT   72000 2021-01-19
19     Tina  Marketing   54000 2016-12-30
20      Uma         HR   47000 2023-01-11
21   Victor    Finance   56000 2018-02-27
22    Wendy      Sales   61000 2019-06-06
23   Xander         IT   68000 2020-08-08
24     Yara  Marketing   55000 2021-03-22
25     Zane    Finance   64000 2017-01-17

In [55]:
employees_after_2020 = df[df["Join_Date"] > "2020-01-01"][["Name", "Join_Date"]]
print (employees_after_2020)

       Name  Join_Date
0     Alice 2020-05-21
2   Charlie 2021-07-10
4       Eva 2022-01-05
6     Grace 2020-06-30
8       Ian 2021-02-11
9      Jane 2020-12-01
12     Mike 2020-03-03
13     Nina 2022-04-10
17   Rachel 2020-09-14
18    Steve 2021-01-19
20      Uma 2023-01-11
23   Xander 2020-08-08
24     Yara 2021-03-22

In [61]:
avg_salary_by_dept = df.groupby("Department")["Salary"].mean()
print(avg_salary_by_dept)

Department
Finance      58500.000000
HR           49100.000000
IT           68142.857143
Marketing    54500.000000
Sales        59500.000000
Name: Salary, dtype: float64

In [74]:
highest_avg_salary_dept = avg_salary_by_dept.idxmax()
print(f"{highest_avg_salary_dept}")

IT

In [85]:
# Calculate years with company
df['Years_with_Company'] = (datetime.now() - df['Join_Date']).dt.days // 365

In [86]:
df

       Name Department  Salary  Join_Date  Years_with_Company
0     Alice         HR   50000 2020-05-21                   4
1       Bob         IT   60000 2019-03-15                   5
2   Charlie    Finance   55000 2021-07-10                   3
3     David         IT   70000 2018-11-01                   6
4       Eva         HR   48000 2022-01-05                   3
5     Frank    Finance   62000 2017-09-12                   7
6     Grace         IT   65000 2020-06-30                   4
7     Helen  Marketing   52000 2019-08-20                   5
8       Ian      Sales   58000 2021-02-11                   4
9      Jane         HR   51000 2020-12-01                   4
10     Karl         IT   75000 2016-04-25                   8
11    Laura    Finance   53000 2019-11-15                   5
12     Mike      Sales   60000 2020-03-03                   4
13     Nina  Marketing   57000 2022-04-10                   2
14    Oscar         IT   67000 2018-07-18                   6
15    Paula         HR   49500 2017-10-22                   7
16  Quentin    Finance   61000 2015-05-09                   9
17   Rachel      Sales   59000 2020-09-14                   4
18    Steve         IT   72000 2021-01-19                   4
19     Tina  Marketing   54000 2016-12-30                   8
20      Uma         HR   47000 2023-01-11                   2
21   Victor    Finance   56000 2018-02-27                   6
22    Wendy      Sales   61000 2019-06-06                   5
23   Xander         IT   68000 2020-08-08                   4
24     Yara  Marketing   55000 2021-03-22                   3
25     Zane    Finance   64000 2017-01-17                   8

In [93]:
df_sorted = df.sort_values(by="Years_with_Company", ascending=False)
print("DataFrame sorted by Years_with_Company(descending):")
display(df_sorted)

DataFrame sorted by Years_with_Company(descending):

       Name Department  Salary  Join_Date  Years_with_Company
16  Quentin    Finance   61000 2015-05-09                   9
25     Zane    Finance   64000 2017-01-17                   8
19     Tina  Marketing   54000 2016-12-30                   8
10     Karl         IT   75000 2016-04-25                   8
5     Frank    Finance   62000 2017-09-12                   7
15    Paula         HR   49500 2017-10-22                   7
3     David         IT   70000 2018-11-01                   6
21   Victor    Finance   56000 2018-02-27                   6
14    Oscar         IT   67000 2018-07-18                   6
22    Wendy      Sales   61000 2019-06-06                   5
7     Helen  Marketing   52000 2019-08-20                   5
11    Laura    Finance   53000 2019-11-15                   5
1       Bob         IT   60000 2019-03-15                   5
23   Xander         IT   68000 2020-08-08                   4
18    Steve         IT   72000 2021-01-19                   4
17   Rachel      Sales   59000 2020-09-14                   4
0     Alice         HR   50000 2020-05-21                   4
12     Mike      Sales   60000 2020-03-03                   4
9      Jane         HR   51000 2020-12-01                   4
8       Ian      Sales   58000 2021-02-11                   4
6     Grace         IT   65000 2020-06-30                   4
4       Eva         HR   48000 2022-01-05                   3
2   Charlie    Finance   55000 2021-07-10                   3
24     Yara  Marketing   55000 2021-03-22                   3
20      Uma         HR   47000 2023-01-11                   2
13     Nina  Marketing   57000 2022-04-10                   2

In [96]:
df_sorted.to_csv('Updated_employees.csv',index=False)
print('Update_employees.csv')

Update_employees.csv